%h1.text-center.large-heading About us
.text-center
  %p
    Не ТЫ
    %span.bevan
      а МЫ.
    будет легче найти кофейню, гостиницу или автомойку
    %span.bevan
ВСЕМ ВМЕСТЕ
  %p
    Здесь разместить ссылку
    %span.cl-effect-12
      = link_to 'ссыль.',
        'https://karma.kz/', target: :blank
.toni-portrait
  = image_tag ('picture-toni.jpg')
  %p Если вам нужна помощь пишите на xxxxx@xxxx.xxx
  %br
