.text-center
  %h1.large-heading Помошь
  %p Вы быстро научитесь искать с помошью karma.kz
  %p Ниже представлен ролик презинтация
  %br
  .video-presentation
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "534", :src => "https://www.youtube.com/", :width => "950"}
%br
%br
  %p.text-center
    Кроме всего прочего другие видео
    %span.cl-effect-12
      = link_to 'Karma.kz', 'https://www.karma.kz/', target: :blank
%br
%br
