%footer
  .container
    .text-center
      %span.ruby Найдется лучшее
      %span.ruby-icon= fa_icon 'search'



<div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>