%h1.text-center.large-heading Добро пожаловать!
%p.welcome-text Используйте Карму для поиска от самого вкусного ресторана до лучшего стоматолога. Карма создана для вас, попробуйте и не пожалеете!
.text-center
  = link_to 'Tutorial', help_path, class: 'btn btn-primary tutorial'
  %br
  - unless logged_in?
    = link_to 'Sign up', signup_path, class: 'btn btn-primary'
    = link_to 'Login', login_path, class: 'btn btn-default default-button'

%h1.text-center Свежие отзывы
- @reviews.each do |review|
  .review
  = render 'shared/review', review: review
